.sdlc-container-alt.position-relative
  .table-container
    %table.sdlc-table
      %tr
        - Gitlab::Homepage::Stage.all!.each do |stage|
          %td.stage-container
            %a{href: "/stages-devops-lifecycle/#{stage.key}/"}
              = partial "/includes/icons/sdlc-icons/#{stage.key}.svg"
            %a{href: "/stages-devops-lifecycle/#{stage.key}/"}
              %p #{stage.display_name}

      %tr.single-application-row
        - Gitlab::Homepage::Stage.all!.each do |stage|
          %td.solutions-container
            %a.gitlab-logo-container{href: "/stages-devops-lifecycle/#{stage.key}/"}
              .competitor-tooltip
                %p.tooltip-text
                  GitLab
                .tooltip-carat
              %img.gitlab-logo{ src: "/images/devops-tools/gitlab-logo.svg" }

      %tr.separate-application-row
        - Gitlab::Homepage::Stage.all!.each do |stage|
          %td.competitors-container{ id: "#{stage.key}-competitors-container" }
            - stage.competitors.each do |competitor|
              %a.competitor-logo-container{ href: "/devops-tools/#{competitor.key.dup.tr('_', '-')}-vs-gitlab.html" }
                .competitor-tooltip
                  %p.tooltip-text
                    = competitor.name
                  .tooltip-carat
                %img.competitor-logo{ src: "#{competitor.logo}", alt: "#{competitor.name} logo png" }

  .btn-group.margin-top20
    %a.btn.cta-btn.accent.see-all-comparisons{ href: '/devops-tools/' } See and compare all DevOps tools
